<html>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.4.2/vuetify.min.js'></script>
<link  href='https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.4.2/vuetify.min.css' rel='stylesheet'>
<body>

<!-- Vuetifyのタグに置き換えるサンプル -->
<div id="vue_example"></div>

<script>
var vue_example = new Vue({
    el: '#vue_example',

    components: {
        'component-A': {
            props: { title: String, idx: Number },
            template: `<v-layout row>
                <v-flex grow pa-1>
                    <v-card dark color="green darken-3">
                        <v-card-text>{{ title }}</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex shrink pa-1>
                    <v-btn large color="green darken-1" v-on:click="$emit('component-A-del-item', idx )"> Delete </v-btn>
                </v-flex>
                </v-layout>`,
        },
    },

    template: `<div>
        <component-A v-for='(it,idx) in items' v-bind:title='it' v-bind:idx='idx'
        v-on:component-A-del-item='del_item( $event )'
        ></component-A>
        <v-layout row>
            <v-flex grow pa-1>
                <v-text-field outline v-model='item'></v-text-field>
            </v-flex>
            <v-flex shrink pa-1>
                <v-btn large v-on:click='add_item()'>Add Item</v-btn>
            </v-flex>
        </v-layout>
        </div>`,

    data: {
        items: [ 'aaa', 'bbb', 'ccc', ],
        item: 'Hello Vue.js!'
    },

    methods: {
        add_item: function () { this.items.push( this.item ) },
        del_item: function ( _idx ) { this.items.splice( _idx, 1 ) }
    }
})
</script>
</body>
</html>
